<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo" />
      <span translate>Really simple Dashboard</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>

    <div class="container_fluid dashboard">
      <div *ngFor="let row of widgets; let rowi = index">
        <div class="row">
          <div *ngFor="let widget of row; let coli = index" class="col-sm">
            <button (click)="reload(rowi, coli)"><fa-icon [icon]="faRedo"></fa-icon></button>
            <button (click)="setscale(rowi, coli)"><fa-icon [icon]="faCompress"></fa-icon></button>
            {{ widget.title }}
            <div class="widget">
              <iframe
                class="widget"
                [ngClass]="{ scalehalfsize: widget.scalehalfsize }"
                [id]="rowi + '_' + coli"
                [src]="widget.url | safe: 'resourceUrl'"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
